<!DOCTYPE html>
<html lang="en">
<style>
body {
 font-family: Arial, sans-serif;
 margin: 0;
 padding: 0;
}

h1 {
 text-align: center;
 margin-top: 50px;
}

p {
 text-align: center;
 margin-bottom: 30px;
}

</style>

<html>
<head>
 <title>Welcome!</title>
</head>
<body>
 <h1>Welcome! This is starting page. From here you can go to:</h1>
    <center>
     	<thead>
            <tr>
                <th> <a href="/sheduler"> The task sheduler </a> </th>
                <p> or </p>
                <th> <a href="/tasklist"> The task list </a> </th>
            </tr>
        </thead>
    </center>
</body>
</html>
